*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.display-none {
    display: none;
}

html,
body {
    font-family: "Roboto", "Arial", sans-serif;
    box-sizing: border-box;
    color: #fff;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background: #819c8e;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
}

a:hover,
a:focus {
    color: #ffbc9e;
}

a:active {
    color: #bdab96;
}

ul {
    list-style: none;
}

figure {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1146px;
}

.button {
    background-image: linear-gradient(#f26843 0,#e74a35 100%); 
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    border: none;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 2px 2px #ac1000;
    text-shadow: 0px 2px 5px #a0200b;
}

.button:hover,
.button:focus {
    box-shadow: 0px 2px 2px 0px #ac1000;
    background: linear-gradient(#f58669, #ec6f5e);
    color: #fff;
}

.button:active {
    box-shadow: inset 0px 2px 2px 0px #942718;
    background: linear-gradient(#d74632, #e1613e);
    color: #fff;
}

.logo {
    margin-right: 5px;
}

.main-header-inner {
    display: flex;
    padding-top: 8px;
    margin-bottom: 57px;
}

.catalog-main-header-inner {
    margin-bottom: 18px;
}

.navigation-column {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.navigation-items {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 8px;
    align-items: center; 
}


.nav-item a {
    border-bottom: 1px solid #a9bbb1;
    margin: 8px 15px 8px 15px;
    border-radius: 16px;
}

.nav-item a:hover,
.nav-item a:focus {
    padding: 8px 15px 8px 15px;
    margin: 0;
    border-radius: 16px;
    background: #fff;
    color: black;
}

.nav-item a:active {
    padding: 8px 15px 8px 15px;
    margin: 0;
    border-radius: 16px;
    background: #ededed;
    color: black;
    box-shadow: inset 0px 2px 1px #696969;
}

.nav-item:hover > a,
.nav-item:focus > a {
    padding: 8px 15px 8px 15px;
    margin: 0;
    border-radius: 16px;
    background: #fff;
    color: black;
}

.nav-item:active > a {
    padding: 8px 15px 8px 15px;
    margin: 0;
    border-radius: 16px;
    background: #ededed;
    color: black;
    box-shadow: inset 0px 2px 1px #696969;
}

.catalog-nav-item {
    position: relative;
}

.nav-item.catalog-nav-item:hover  .catalog-dropdown,
.nav-item.catalog-nav-item:focus  .catalog-dropdown {
    display: block;
    z-index: 1;
}

.dropdown {
    display: none;
    position: absolute;
    background: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px #00000099;
    padding-bottom: 4px;
    right: 0;
    bottom: -5px;
    transform: translateY(100%);
}

.catalog-dropdown {
    right: auto;
}

.catalog-dropdown::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}

.catalog-dropdown li {
    margin: 4px 0 4px;
}

.navigation-items .catalog-dropdown .dropdown-title {
    border-bottom: 1px solid #d1d0ce;
    padding-left: 10px;
    padding: 6px 5px 12px 15px;
    margin: 5px;
}

.dropdown-title h2 {
    color: black;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.catalog-dropdown a {
    color: #323232;
    margin: 0;
    width: 143px;
    font-size: 14px;
    line-height: 16px;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
    border: none;
}

.catalog-dropdown a:hover,
.catalog-dropdown a:focus {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
    background: #fbded7;
    border-radius: 0;
}

.catalog-dropdown a:active {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
    background: #f6b5a5;
    border-radius: 0;
    box-shadow: none;
}

.current-dropdown-item {
    background: #d07058;
}

.control-column {
    position: relative;
    display: flex;
    margin-bottom: 8px;
}

.control-items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}

.control-items a {
    position: relative;
    background: #ffffff30;
    border-radius: 16px;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 35px 8px 45px;
}

.control-items .login-link {
    padding: 8px 20px 8px 45px;
}

.basket-item a::before {
    content: "";
    position: absolute;
    background-image: url("../img/basket.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 17px;
}

.login-item {
    position: relative;
}

.login-item:hover .login-form,
.login-item:focus .login-form {
    display: block;
    z-index: 1;
}

.login-form {
    display: none;
    padding: 20px 18px;
}

.login-form::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}

.login-form a {
    color: #323232;
    font-size: 13px;
    line-height: 24px;
}

.login-form input {
    width: 241px;
    padding: 9px 13px;
    border: 1px solid #b2b2b285;
    border-radius: 5px;
    color: #323232;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box
}

.login-form label {
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    cursor: text;
}

.login-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
}

.login-control button {
    font-size: 16px;
    min-height: 44px;
    line-height: 24px;
    padding: 10px 26px;
    width: 100px;
    height: 44px;
}

.choice {
    padding-left: 20px;
}

.choice a {
    font-size: 13px;
    line-height: 24px;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    background: none;
}

.restore-password {
    margin-bottom: -5px;
}

.new-registration {
    margin-top: -5px;
}

.ctrl-item {
    margin-left: 5px;
}

.search-item:hover .search-form,
.search-item:focus .search-form {
    display: block;
    z-index: 1;
}

.search-form {
    display: none;
    padding: 21px 15px;
}

.search-item a {
    padding: 17px 24px 17px 11px;
}

.search-form::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}

.search-item:hover > a,
.search-item:focus > a {
    border-radius: 16px;
    background: #fff;
    color: black;
}

.search-item {
    position: relative;
}

.search-form input {
    width: 313px;
    padding: 9px 13px;
    border: 1px solid #b2b2b285;
    border-radius: 5px;
    color: #323232;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
}

.login-link::before {
    content: "";
    position: absolute;
    background-image: url("../img/login.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 17px;
}

.search-item a::before {
    content: "";
    position: absolute;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.search-item:hover > a,
.search-item:focus > a {
    background: #fff;
}

.search-item:hover > a::before,
.search-item:focus > a::before {
    background-image: url("../img/search-hover.png");
}

.login-item:hover > a,
.login-item:focus > a {
    background: #fff;
    color: #000;
}

.login-item:hover > a::before,
.login-item:focus > a::before {
    background-image: url("../img/login-hover.png");
}

.basket-item:hover > a,
.basket-item:focus > a {
    background: #fff;
    color: #000;
}

.basket-item:hover > a::before,
.basket-item:focus > a::before {
    background-image: url("../img/basket-hover.png");
}

.contacts-info {
    position: absolute;
    padding-bottom: 18px;
    text-align: right;
    color: #fff;
    transform: translateY(100%);
    right: 0;
}

.contacts-info a {
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.contacts-info p {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}

.main-slider {
    padding-bottom: 42px;
}

#slider1, #slider2, #slider3 {
    display: none;
}

.slide {
    display: none;
    min-height: 215px;
    padding-top: 257px;
}

.slider-controls {
    position: relative;
}

#slider1:checked ~ .background-inner {
    transition: .5s;
    background: #819c8e;
    background-image: url("../img/ice-creams-1.png");
    background-repeat: no-repeat;
    background-position: top;
}

#slider2:checked ~ .background-inner {
    transition: .5s;
    background: #8996a6;
    background-image: url("../img/ice-creams-2.png");
    background-repeat: no-repeat;
    background-position: top;
}

#slider3:checked ~ .background-inner {
    transition: .5s;
    background: #9d8b84;
    background-image: url("../img/ice-creams-3.png");
    background-repeat: no-repeat;
    background-position: top;
}

#slider1:checked ~ .background-inner .slides .slide1 {
    display: block;
} 

#slider2:checked ~ .background-inner .slides .slide2 {
    display: block;
}

#slider3:checked ~ .background-inner  .slides .slide3 {
    display: block;
}

#slider1:checked ~  .background-inner .slider-controls label:nth-child(1)::before {
    background: #fff;
}

#slider2:checked ~ .background-inner .slider-controls label:nth-child(2)::before {
    background: #fff;
}

#slider3:checked ~ .background-inner .slider-controls label:nth-child(3)::before {
    background: #fff;
}

.slider-controls label:hover::before {
    background: #ffffff59;
    cursor: pointer;
}

.slider-control::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    bottom: 23px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.slider-control-1::before {
    left: 0;
}

.slider-control-2::before {
    left: 30px;
}

.slider-control-3::before {
    left: 60px;
}

.slide-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    color: #fff;
}

.slide-description p {
    width: 675px;
    text-align: center;
    margin-bottom: 30px;
}

.slide-description * {
    z-index: 1;
}

.slide-description .button {
    padding: 10px 42px;
}

.slide::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 2px;   
    right: 0;
    left: 35px;
    margin: 0 auto;
}

.stock-cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.stock-cards h3 {
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    padding-bottom: 15px;
}

.stock-cards p {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    padding-bottom: 100px;
}

.stock-button {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    bottom: 26px;
    right: 25px;
    padding: 10px 21px;
}

.stock-card {
    padding: 15px 21px;
    position: relative;
    border-radius: 11px;
    width: 563px;
}

.stock-card.card-1 {
    background-image: url("../img/card1.png");
    background-repeat: no-repeat;
}

.stock-card.card-2 {
    background-image: url("../img/card2.png");
    background-repeat: no-repeat;
}

.ice-cream-catalog {
    display: flex;
    justify-content: space-between;
}

.catalog-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 267px;
}

.catalog-item:hover {
    z-index: 2;
}

.catalog-item:hover .catalog-item-inner {
    display: flex;
}

.catalog-item-inner {
    position: absolute;
    display: none;
    justify-content: center;
    background: #6161604d;
    width: 280px;
    height: 400px;
}

.catalog-item::before {
    content: "";
    position: absolute;
    background-image: url("../img/hit.png");
    background-repeat: no-repeat;
    width: 61px;
    height: 61px;
    top: 5px;
    left: 0;
    z-index: 1;
}

.catalog-item-image {
    position: relative;
    padding-top: 5px;
}

.catalog-item-price {
    position: relative;
    bottom: 63px;
    left: 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}

.catalog-item-description {
    position: relative;
    bottom: 35px;
    text-align: center;
    line-height: 22px;
    font-size: 16px;
    text-decoration: underline;
}

.catalog-item-button {
    position: absolute;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    min-height: 34px;
    bottom: 0;
}

.description {
    background-image: url("../img/image (5).png");
    color: #323232;
    padding: 25px 21px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.description h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.advantege-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantege-list-item {
    position: relative;
    width: 538px;
    padding: 22px 0 0 58px;
}

.advantege-list-item p {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}

.advantege-list-item::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 49px;
    height: 49px;
    left: 0;
    top: 8px;
}

.advantege-list-item:nth-child(1)::before {
    background-image: url("../img/ice-cream.png");
}

.advantege-list-item:nth-child(2)::before {
    background-image: url("../img/cow.png");
}

.advantege-list-item:nth-child(3)::before {
    background-image: url("../img/leaf.png");
}

.advantege-list-item:nth-child(4)::before {
    background-image: url("../img/thermometer.png");
}

.subscribe {
    display: flex;
    justify-content: space-between;
    color: #323232;
    padding-bottom: 37px;
}

.blog-card {
    width: 560px;
    padding: 23px 20px;
    background-image: url("../img/Strawberry.png");
    background-repeat: no-repeat;
    border-radius: 15px;
}

.blog-card p {
    padding-bottom: 8px;
    color:  #323232;
}

.blog-card a {
    text-decoration: underline;
    color:  #323232;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    width: 300px;
    padding-bottom: 58px;
}

.subscribe-card {
    width: 560px;
    padding: 5px;
    background-image: url("../img/post.png");
    background-repeat: no-repeat;
    border-radius: 15px;
}

.subscribe-card-inner {
    height: 100%;
    background: #f8f7f4;
    border-radius: 15px;
}

.subscribe-card-inner p {
    font-size: 16px;
    line-height: 22px;
    color:  #323232;
    padding: 29px 22px 35px;
}

.subscribe-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.subscribe-form input {
    display: flex;
    width: 100%;
    margin-right: 10px;
    border: 1px solid rgba(70, 70, 70, 0.28);
    border-radius: 5px;
    background: #fff;
    font-size: 16px;
    padding: 12px 15px;
}

.subscribe-form input[type=email]+label {
    position: absolute;
    padding: 11px 15px;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    cursor: text;
}

.subscribe-button {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 15px;
}

.map-container {
    position: relative;
    width: 100%;
    height: 430px;
}

.map-container::after {
    content: "";
    position: absolute;
    background-image: url("../img/pin.png");
    width: 80px;
    height: 140px;
    top: 140px;
    left: 620px;
}

.map-img {
    position: absolute;
    top: 0;
}

.address-window {
    position: absolute;
    width: 302px;
    height: 305px;
    background: #fff;
    color: #323232;
    padding: 27px 26px;
    right: 380px;
    top: 5px;
    bottom: 0;
    margin: auto 0;
}

.address-window p {
    font-size: 14px;
    line-height: 20px;
}

.address-window b {
    font-size: 18px;
    line-height: 24px;
}

.modal-address {
    padding-bottom: 18px;
}

.modal-phone {
    padding-bottom: 22px;
}

.modal-phone p {
    padding-bottom: 5px;
}

.address-button {
    width: 100%;
    line-height: 24px;
    font-size: 18px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.social-buttons {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
}

.social-buttons li {
    box-sizing: content-box;
}

.social-button {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 3px solid #f3cece70;
    opacity: 0.7;
}

.social-button:hover,
.social-button:focus {
    border: 3px solid #f3cece80;
    opacity: 1;
}

.social-button:active {
    opacity: 1;
    border: 3px solid #ffffff90;
}

.twit-btn {
    background-image: url("../img/twitter.png");
}
.inst-btn {
    background-image: url("../img/instagram.png");
}
.fb-btn {
    background-image: url("../img/facebook.png");
}
.vk-btn {
    background-image: url("../img/vk.png");
    
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    font-size: 13px;
    line-height: 18px;
}

.footer-navigation a {
    margin-bottom: 4px;
    border-bottom: 1px solid #ffffff33;
    display: inline;
}

.copywrite {
    padding-top: 18px;
    font-size: 12px;
    line-height: 18px;
}

.footer-nav-column {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 20px;
}

.footer-navigation-item.heart {
    position: relative;
}

.footer-navigation-item.heart::before {
    content: "";
    position: absolute;
    background-image: url("../img/heart.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 13px;
    left: -20px;
    top: 0;
    bottom: 0;
    margin: auto;

}

.academy-href {
    border-bottom: 1px solid #ffffff33;
}


/* ============================CATALOG================================== */

.breadcrumbs {
    margin-bottom: 4px;
}

.breadcrumbs a  {
    font-size: 14px;
    line-height: 16px;
    color: #e4e9e6;
    border-bottom: 1px solid #a9bbb1;
    text-decoration: none;
}

.raquo {
    margin-right: 4px;
    margin-left: 7px;
}

.category-title {
    margin-bottom: 20px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.filter {
    margin-bottom: 10px;
}

.filters legend {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    padding: 5px 15px;
}

.sort-filter select {
    padding: 8px 35px 8px 45px;
    background: #ffffff30;
    border-radius: 16px;
    height: 37px
}

.radioboxes label,
.sort-filter select {
    color: #fff;
    font-size: 16px;
    line-height: 23px;
}


.sort-filter option {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
    border: none;
}

.slider {
    width: 50px;
    height: 35px;
    padding: 8px 35px 8px 45px;
    background: #ffffff30;
    border-radius: 16px;
}

.checkboxes input[type=checkbox],
.radioboxes input[type=radio] {
    opacity: 0;
 }

.radioboxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
    background: #ffffff30;
    border-radius: 18px;
}

.radioboxes li {
    position: relative;
}

.radioboxes li:not(:nth-child(1)) {
    margin-left: 20px;
}

.radioboxes input[type=radio]+label {
    cursor: pointer;
    padding-left: 17px;
}

.radioboxes input[type=radio]+label::before {
    content: "";
    position: absolute;
    background-image: url("../img/radio-off.png");
    background-repeat: no-repeat;
    left: 0;
    width: 22px;
    height: 22px;
}

.checkboxes {
    display: flex;
    padding: 8px 35px 8px 45px;
    background: #ffffff30;
    border-radius: 16px;
}

.checkboxes li {
    position: relative;
}

.checkboxes input[type=checkbox]+label {
    cursor: pointer;
    padding-left: 17px;
}

.checkboxes input[type=checkbox]+label::before {
    content: "";
    position: absolute;
    background-image: url("../img/checkbox-off.png");
    background-repeat: no-repeat;
    left: 0;
    width: 20px;
    height: 20px;
}

.checkboxes li:not(:nth-child(1)) {
    margin-left: 20px;
}

.checkboxes label {
}

.filter-btn {
    padding: 5px 26px 5px 28px;
    font-weight: 500;
    background: #ffffff30;
    border: 2px solid #fff;
    color: #fff;
    height: 37px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 18px;
    margin-top: 19px;
}

.ice-cream-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
