html {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "PT Sans","Arial",sans-serif;
}
body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    background: #DEDEDE;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
    color: black;
}
.container {
    margin: 0 auto;
    width: 940px;
}
h1 {
    margin: 0;
    padding: 0;
}
p {
    padding: 0;
    margin: 0;
    display: block;
}
.display-none {
    display: none;
}
.upper-panel {
    background-color: #293449;
    height: 42px;
}
.up-footer-inner {
    display: inline-flex;
    height: 42px;
    width: 100%;
}
.up-footer-inner a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.main-header-logo {
    float: left;
}
.main-header-logo p {
    text-transform: uppercase;
    color: white;
    background-color: #ee3643;
    font-family: "Cuprum","Arial",sans-serif;
    width: 165px;
    padding: 11px 0 7px 55px;
    margin: 0;
    font-size: 24px;
    text-align: left;
}
.search {
    background: #293449;
}
input[type=search] {
    background-color: #293449;
    border: none;
    color: white;
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 17px;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 49px;
}
.header-background {
    background-color: #f1f5f7;
}
.upper-info {
    display: flex;
}
.column-description {
    width: 247px;
    float: left;
    margin: 49px 0 40px 52px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    font-family: "Cuprum","Arial",sans-serif;
    color: #ef5c67;
}
.column-contacts {
    width: 340px;
    margin-top: 46px;
    margin-right: 50px;
    margin-bottom: 4px;
    margin-left: 22px;
}
.column-contacts a {
    text-decoration: none;
    color: #e9292a;
    font-size: 21px;
}
.column-account {
    width: 340px;
    margin-top: 46px;
    margin-right: 50px;
    margin-bottom: 4px;
    margin-left: 22px;
    display: inline-flex;
}
.log.login {
    display: inline-flex;
    width: 100%;
    font-family: "Cuprum","Arial",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 18px;
    text-decoration: none;
    color: #000;
    background-color: #fff; 
    margin-top: 47px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 21px;
    padding-top: 12px;
    padding-right: 26px;
    padding-left: 0px;
    height: 32px;
}
.log.login a {
    text-decoration: none;
    color: #000;
    font-size: 21px;
}
.log {
    font-size: 21px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding-top: 12px;
    padding-right: 25px;
    padding-left: 23px;
    margin-top: 47px;
    margin-left: 50px;
    height: 32px;
}
.site-navigation {
    background: #32425c;
    color: white;
    font-size: 17px;
    font-family: Scala, Cuprum-Regular, AdobeInvisFont, MyriadPro-Regular;
    display: flex;
    width: 100%;
}
.site-navigation a {
    text-decoration: none;
    color: white;
}
.site-navigation a:focus,
.site-navigation a:hover {
    color: wheat;
}
.site-navigation li {
    align-items: center;
    display: flex;
    height: 60px;
    width: 100%;  
    padding: 0 30px;  
}

.slide-slide1 {
    background-image: url("images/slider2.png");
    background-position: top left;
    background-repeat: no-repeat;
    color: white;
}

.product-categories,
.column-cards-right ul,
.popular-goods-list,
.popular-brand-list,
.upper-footer-navigation,
.middle-footer-categories,
.bottom-footer-column2 ul {
    list-style: none;
}

.upper-footer,
.middle-footer {
    background-color: #32425c;
    display: flex;
}
.bottom-footer {
    background-color: #293449;
}
.upper-footer {
    width: 100%;
}
.fut {
    display: inline-flex;
    width: 100%;
}
.upper-footer-navigation {
    background: #32425c;
    color: white;
    font-size: 18px;
    font-family: Scala, Cuprum-Regular, AdobeInvisFont, MyriadPro-Regular;
    display: flex;
    width: 100%;
}
.upper-footer-column1 {
    display: flex;
    width: 100%;
    color: white;
    font-size: 25pt;
    height: 60px;
    align-items: center;
    font-family: Scala, Cuprum-Regular, AdobeInvisFont, MyriadPro-Regular;
}
.upper-footer-column1 a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.upper-footer-column2 {
    width: 100%;
}
.footer-logo a{
    display: inline-block;
    padding: 24px 41px 9px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}
.upper-footer-navigation li,
.middle-footer-categories li {
    align-items: center;
    display: flex;
    height: 60px;
    padding: 0 30px;  
}
.upper-footer-navigation a,
.middle-footer-categories a {
    text-decoration: none;
    color: white;
}
.upper-footer-navigation a:focus,
.upper-footer-navigation a:hover {
    color: wheat;
    text-decoration-line: underline;
}
.footer-contacts p {
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    float: left;
}
.footer-contacts a {
    text-decoration: none;
    color: white;
}
.footer-contacts a:focus,
.footer-contacts a:hover {
    color: wheat;
    text-decoration-line: underline;
}
.middle-footer-categories {
    background: #32425c;
    color: white;
    font-size: 18px;
    font-family: Scala, Cuprum-Regular, AdobeInvisFont, MyriadPro-Regular;
    display: flex;
}
.middle-footer-column2,
.middle-footer-column1 {
    width: 100%;
}
.middle-footer-column2 a {
    color: #e4be7b;
}
